# file specifico
pyupdate.txt

# tutte cartelle con il nome
**/.ipynb_checkpoints
**/__pycache__
**/.spyproject
**/graphics

# tutti i file di log
*.log

# folder root
ColoreRegioni.egg-info/
build/
dist/
